# Jekyll build and cache directories
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Ruby and Bundler dependencies
.bundle
vendor
Gemfile.lock

# System-specific and editor settings
.vs
.vscode
.vscode/settings.json
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Backup or temporary files
*.bak
*~
