<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% seo %}

  <!-- Favicon -->
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />

  <!-- Font Import -->
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&display=swap" rel="stylesheet" />

  <!-- CSS Links -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common.css" />
  {% if page.layout == "post" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css" />
  {% elsif page.layout == "projects" or page.layout == "project" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/project.css" />
  {% elsif page.layout == "bio" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bio.css" />
  {% elsif page.layout == "blog" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css" />
  {% elsif page.layout == "resume" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/resume.css" />  
  {% elsif page.layout == "landing" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/landing.css" />
  {% endif %}

  <!-- JavaScript Links -->
  {% if page.layout == "blog" or page.layout == "post" %}
    <script src="{{ site.baseurl }}/assets/js/categories.js"></script>
  {% endif %}
  {% if page.layout == "post" %}
    <script defer src="{{ site.baseurl }}/assets/js/lbox.js"></script>
  {% endif %}
</head>
