<header class="site-header" role="banner">
  <div class="header-container">

    <!-- Site Title -->
    <div class="title-wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    </div>
    
    <!-- Navigation Menu -->
    <nav>
      <ul class="nav-menu">
        <li>
          <a href="{{ site.baseurl }}/blog" class="nav-link">
            Blog
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/projects" class="nav-link">
            Projects
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/files" class="nav-link">
            Files
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/bio" class="nav-link">
            Bio
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
