@font-face {
  font-family: "MiriamLibre-Bold";
  src: url('../fonts/MiriamLibre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MiriamLibre-Regular";
  src: url('../fonts/MiriamLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MPlusCode-Expanded-Bold";
  src: url('../fonts/MPLUSCodeLatin_Expanded-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MPlusCode-Expanded-Regular";
  src: url('../fonts/MPLUSCodeLatin_Expanded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

section {
  min-height: 100vh;
}

div {
  font-family: "MiriamLibre-Regular";
  font-style: normal;
}

.downloads {
  font-family: "MiriamLibre-Regular";
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: solid rgb(148, 196, 76);
}

.downloads:hover {
  background-color: rgb(38, 73, 35);
  transition: 0.4s;
  color: lightgreen;
}

.downloads:active {
  background-color: #3e8e41;
  box-shadow: -6px 10px rgb(22, 22, 22);
  transform: translateY(4px);
  transition: 0.05s;
}

ul {
  list-style: none;
}

.container {
  font-family: "MiriamLibre-Regular";
  color: white;
  display: flex;
  flex-direction: column;
}

.titleText {
  vertical-align: middle;
  font-size: 300%;
  font-weight: bolder;
}

.mainText {
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: bolder;
}

.heroContainer {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
}

.codeText {
  font-family: "MPlusCode-Expanded-Regular";
  font-style: normal;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 20px;
}
