@font-face {
  font-family: "MiriamLibre-Bold";
  src: url('../fonts/MiriamLibre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MiriamLibre-Regular";
  src: url('../fonts/MiriamLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MPlusCode-Expanded-Bold";
  src: url('../fonts/MPLUSCodeLatin_Expanded-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MPlusCode-Expanded-Regular";
  src: url('../fonts/MPLUSCodeLatin_Expanded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

section {
  min-height: 100vh;
}

div {
  font-family: "MiriamLibre-Regular";
  font-style: normal;
}

.downloads {
  font-family: "MiriamLibre-Regular";
  vertical-align: middle;
  font-weight: bolder;
  font-size: 14px;
  color: rgba(255,255,255, 82%);
  background-color: rgb(22, 22, 22);
  padding: 3px 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: solid rgb(148, 196, 76);
  border-radius: 6px;
}

.downloads:hover {
  background-color: rgb(38, 73, 35);
  transition: 0.4s;
  color: lightgreen;
}

.downloads:active {
  background-color: #3e8e41;
  box-shadow: -6px 10px rgb(22, 22, 22);
  transform: translateY(4px);
  transition: 0.05s;
}

ul {
  list-style: none;
}

.container {
  font-family: "MiriamLibre-Regular";
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 6px solid rgb(148, 196, 76);
  background-color: rgb(22, 22, 22);
  max-width: 82%;
}

.title {
  vertical-align: middle;
  font-size: 300%;
  font-weight: bolder;
  padding-top: 20px;
}

.mainText {
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: bolder;
  padding-top: 20px;
}

.heroContainer {
  color: white;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  border-radius:6px;
  border: 6px solid rgb(148, 196, 76);
  background-color: rgb(22, 22, 22);
  min-height: 60px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.codeText {
  font-family: "MPlusCode-Expanded-Regular";
  font-style: normal;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 20px;
}
