<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main class="main-content">
      
      <!-- Header -->
      {% include header.html %}

      <!-- Bio Section -->
      <h1 class="bio-title">Bio</h1>
      <section class="bio-section">
        <!-- Profile and Bio -->
        {% include bio.html %}
      </section>

      <!-- Footer -->
      <footer role="contentinfo" class="main-footer">
        {% include footer.html %}
      </footer>
    </main>
  </body>
</html>
