<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      
      <!-- Bio Section -->
      <section class="bio">
        {% include bio.html %}
        <!-- Additional Bio Details -->
        <div class="bio-details">
          <!-- Contact Information -->
          <div class="contact-info">
            <h3>Contact Me</h3>
            <p>Email: <a href="mailto:ray@raystanza.uk">ray@raystanza.uk</a></p>
          </div>
        </div>
      </section>

      <!-- Articles/Post Section -->
      <section class="articles">
        <h2>Latest Articles</h2>
        <!-- Articles/Post List -->
        <ul>
          {% for post in site.posts limit:5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>

      {% include footer.html %}
    </main>
    {% include category-modal.html %}
  </body>
</html>
