<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      <!-- Header -->
      <header role="banner">
        {% include header.html %}
      </header>

      <!-- Article Section -->
      <article class="article" role="article" aria-labelledby="article-title">
        <header class="article-header">
          <h2 id="article-title" class="article-title">{{ page.title }}</h2>
          <small class="date">{{ page.date | date: "%B %d, %Y" }}</small>
          
          <!-- Categories -->
          <div class="categories">
            {% for c in page.categories %}
            <a href="{{ site.baseurl }}/categories/{{ c | slugify }}" class="category" style="text-decoration: none; color: var(--highlight-color);">{{ c }}</a>
            {% endfor %}
          </div>
        </header>

        <!-- Article Content -->
        <section class="content" aria-label="Post Content">
          {{ content }}
        </section>
      </article>

      <!-- Footer -->
      <footer role="contentinfo">
        {% include footer.html %}
      </footer>
    </main>

    {% include category-modal.html %}
  </body>
</html>
